.fade-enter-active, .fade-leave-active {
  transition: opacity .3s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0
}

.slide-left-enter, .slide-left-leave-to {
  transform: translateX(110%);
}

.slide-left-enter-active, .slide-left-leave-active {
  transition: all .5s ease-in-out;
}