// main colors

$color-black: #000000;
$color-black-light: #19232D;
$color-grey: #D8D8D8;
$color-button-grey: rgb(237, 237, 237);
$color-blue: #0073E1;
$color-blue-light: rgb(139, 170, 204);
$color-blue-input: rgb(95, 138, 206);
$color-blue-head: rgb(235, 239, 244);
$color-aqua: #00C7FF;
$color-red: #E11D00;
$color-orange: #F55A23;
$color-gold: rgb(255,215,0);
$color-header-grey: #aaa;